#calculator {
    width: 300px;
    height: 347px;
    background-color: #cfcecc;
    background-color: black;
    border: 7px solid black;
  }

  #result {
    width: 300px;
    height: 120px;
    background-color: #c2b08d;
    border: 7px solid black;  
  }