// #userInput {
//   display: flex;
// }

// #userResult {
//   justify-content: center;
// }
  

#inputContainer {
  display: flex;
  flex-direction: space-between;
  flex-direction: column;
  text-align: right;
}