#userInput {
padding-top: 10px;
padding-right: 10px;
font-size: 20px;
font-weight: bold;
overflow: hidden;
min-height: 25px;
}

#userResult {
padding-top: 40px;
padding-right: 10px;
font-size: 40px;
font-weight: bold;
overflow: hidden;
}
  

#inputContainer {
  display: flex;
  flex-direction: space-between;
  flex-direction: column;
  text-align: right;
}